<h1 style="margin-left: 290px">Hii...Welcome To Registeration Component</h1>
<mat-card class="login">
  <mat-card-header>
    <mat-card-title> Register̥ation Form </mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content [formGroup]="userGroup">
    <mat-form-field>
      <mat-label>FullName</mat-label>
      <input
        name="fullName"
        formControlName="fullName"
        matInput
        placeholder="Enter FullName Here"
        type="text"
        value=""
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        name="email"
        formControlName="email"
        matInput
        placeholder="Enter Email Here"
        type="email"
        value=""
        required
      />
    </mat-form-field>
    <mat-error *ngIf="email.invalid && email.errors.email">
      Invalid Email
    </mat-error>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        name="password"
        formControlName="password"
        matInput
        placeholder="Enter Password Here"
        type="password"
        value=""
        required
      />
    </mat-form-field>
    <br />
    <!-- <mat-error *ngIf="password.invalid && password.error.password">
      Invalid Password
    </mat-error> -->
    <mat-form-field>
      <mat-label>Re-Enter Password</mat-label>
      <input
        name="repassword"
        formControlName="repassword"
        matInput
        placeholder="Re-Enter Password Here"
        type="password"
        value=""
        required
      />
    </mat-form-field>
    <mat-error *ngIf="repassword.invalid && repassword.errors.passwordMatch">
      Invalid Password
    </mat-error>
  </mat-card-content>
  <mat-card-actions>
    <button
      style="margin-left: 20px"
      mat-raised-button
      color="accent"
      (click)="register()"
    >
      Register
    </button>
    <span style="margin-left: 12px"
      >If you have already an aacount click on<a
        style="color: red"
        routerLink="/Login"
      >
        Login
      </a></span
    >
  </mat-card-actions>
</mat-card>
