<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title style="color: red;margin-left: 8cm;" >Login Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table cellspacing="0" class="full-width">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input
                name="email"
                [(ngModel)]="email"
                matInput
                placeholder="Email"
                required
                type="email"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input
                name="password"
                [(ngModel)]="password"
                matInput
                placeholder="Password"
                required
                type="password"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-error *ngIf="error">{{ error | async }}</mat-error>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="full-width"
      mat-raised-button
      color="accent"
      (click)="login()"
      [tabIndex]="0"
    >
      Login
    </button>
    <div style="margin-top: 2em;margin-left: 7cm;">
      <span>
        New to Product Mart?
        <a [routerLink]="['/auth/registeration']">Sign up</a> here.
      </span>
    </div>
  </mat-card-actions>
</mat-card>



<!-- <mat-card [formGroup]="userForm" class="register-card">
  <mat-card-header>
    <mat-card-title class="title"><u> LOGIN FORM </u></mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label for="email">Email</mat-label>
      <input
        id="email"
        formControlName="email"
        matInput
        placeholder="Enter Email Here"
        type="email"
        required
      />
    </mat-form-field>
    <br />
    <span *ngIf="userForm.touched">
      <i
        class="fa fa-check-circle"
        style="color: green"
        *ngIf="userForm.controls.email.valid"
      ></i>
      <i
        class="fa fa-times-circle"
        style="color: red"
        *ngIf="userForm.controls.email.invalid"
      ></i>
      Email Validation.
    </span>
    <br /><br />
    <mat-form-field class="full-width">
      <mat-label for="password">Password</mat-label>
      <input
        id="password"
        formControlName="password"
        matInput
        placeholder="Enter Password Here"
        type="password"
        required
      /> </mat-form-field
    ><br />
    <span *ngIf="userForm.controls.password.touched">
      <i
        class="fa fa-check-circle"
        style="color: green"
        *ngIf="userForm.controls.password.valid"
      ></i>
      <i
        class="fa fa-times-circle"
        style="color: red"
        *ngIf="userForm.controls.password.invalid"
      ></i>
      Password Required Minimum 4 Characters .
    </span>

    <mat-error *ngIf="error">{{
      error | async
    }}</mat-error>

  </mat-card-content>
  <mat-card-actions>
    <button
      style="margin-left: 4cm"
      mat-raised-button
      color="accent"
      (click)="login()"
    >
      Login
    </button><br><br>
    p
    <div style="margin-left: 5cm;">
    <span style="margin-left: 1cm"
      >New to Product-Mart?
      <a class="nav-link" [routerLink]="['/auth/registeration']">
        Sing-Up Here
      </a></span
    >
  </div>
  </mat-card-actions>
</mat-card> -->

<!-- <pre>
  {{userForm.value | json}}
</pre> -->
