.register-card{
    max-width: 600px;   
    max-height: fit-content;
    margin: 10px auto;
    margin-top: 15px;
    background-color: aqua;
}
.title{    
    margin-left: 5cm;
    color: deeppink;
}
.full-width{
    width: 90%;
}