.login-card {
    max-width: 800px;
    min-width: 150px;
    margin: 10% auto;
  }
  .full-width {
    width: 100%;
  }



// .register-card{
//     max-width: 300px;   
//     max-height: fit-content;
//     margin: 10px auto;
//     margin-top: 15px;
//     background-color: aqua;
// }
// .title{    
//     margin-left: 4cm;
//     color: deeppink;
// }
// .full-width{
//     width: 90%;
// }
  
  