<!-- <h1 style="margin-left: 290px">Hii...Welcome To Registeration Component</h1> -->
<mat-card [formGroup]="userGroup" class="register-card">
  <mat-card-header>
    <mat-card-title class="header"><u> REGISTERATION FORM </u></mat-card-title>
  </mat-card-header>

  <mat-card-content >
    <mat-form-field class="full-width">
      <mat-label>FullName</mat-label>
      <input
        name="fullName"
        formControlName="fullName"
        matInput
        placeholder="Enter FullName Here"
        type="text"
        required
      /> </mat-form-field
    ><br />
    <span *ngIf="userGroup.touched">
      <i
        class="fa fa-check-circle"
        style="color: green"
        *ngIf="userGroup.controls.fullName.valid"
      ></i>
      <i
        class="fa fa-times-circle"
        style="color: red"
        *ngIf="userGroup.controls.fullName.invalid"
      ></i>
      First Name Must Be Require.
    </span>
    <br /><br />
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        name="email"
        formControlName="email"
        matInput
        placeholder="Enter Email Here"
        type="email"
        required
      /> </mat-form-field
    ><br />
    <span *ngIf="userGroup.controls.email.touched">
      <i
        class="fa fa-check-circle"
        style="color: green"
        *ngIf="userGroup.controls.email.valid"
      ></i>
      <i
        class="fa fa-times-circle"
        style="color: red"
        *ngIf="userGroup.controls.email.invalid"
      ></i>
      Email Validation.
    </span>

    <br /><br />
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        name="password"
        formControlName="password"
        matInput
        placeholder="Enter Password Here"
        type="password"
        required
      /> </mat-form-field
    ><br />
    <span *ngIf="userGroup.controls.password.touched">
      <i
        class="fa fa-check-circle"
        style="color: green"
        *ngIf="userGroup.controls.password.valid"
      ></i>
      <i
        class="fa fa-times-circle"
        style="color: red"
        *ngIf="userGroup.controls.password.invalid"
      ></i>
      Password must be of 4 characters.
    </span>
    <br /><br />

    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        name="confirmPassword"
        formControlName="confirmPassword"
        matInput
        placeholder="Enter Confirm Password Here"
        type="password"
        required 
      />
    </mat-form-field><br>
    <span *ngIf="userGroup.controls.confirmPassword.touched">
      <i
        class="fa fa-check-circle"
        style="color: green"
        *ngIf="userGroup.controls.confirmPassword.valid">
      </i>  
      <i
        class="fa fa-times-circle"
        style="color: red"
        *ngIf="userGroup.controls.confirmPassword.invalid && 
               userGroup.controls.confirmPassword.errors.passwordMatch"
      ></i>
      Password Match.
    </span>
    <!-- <mat-error
      *ngIf="
        userGroup.controls.confirmPassword.invalid &&
        userGroup.controls.confirmPassword.errors.passwordMatch
      "
    >
      Invalid Password
    </mat-error> -->
  </mat-card-content>
  <mat-card-actions>
    <button
      style="margin-left: 3cm"
      mat-raised-button
      color="accent"
      (click)="register()"
    >
      Register
    </button>
    <span style="margin-left: 12px"
      >If you have already an aacount click on
      <a
      [routerLink]="['/auth/login']"
      >
        Login
      </a></span
    >
  </mat-card-actions>
</mat-card>
