<h1 style="margin-left: 320px">Hii...Welcome To Login Component</h1>
<mat-card class="login">
  <mat-card-header>
    <mat-card-title> Login </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        name="email"
        [(ngModel)]="email"
        matInput
        placeholder="Enter Email Here"
        type="email"
        value=""
        required
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        name="password"
        [(ngModel)]="password"
        matInput
        placeholder="Enter Password Here"
        type="password"
        value=""
        required
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      style="margin-left: 20px"
      mat-raised-button
      color="accent"
      (click)="login()"
    >
      Login
    </button>
    <span style="margin-left: 12px"
      >If You Don't Have An Account Click Here
      <a style="color: red" href="register"> Register </a></span
    >
  </mat-card-actions>
</mat-card>
