<mat-card class="sc-checkout">
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span> Items ({{ cartItemsCount | async }})</span>
        <span class="item"> {{ cartSubTotal | async | currency }}</span>
      </mat-list-item>

      <mat-list-item role="listitem">
        <span> Shipping Charge </span>
        
        <span class="ship"> {{ shippingCost | async | currency }}</span>
      </mat-list-item>

      <mat-list-item role="listitem">
        <span> Estimated Tax </span>
        <span > </span>
        <span class="tax" > {{ estimatedTax | async | currency }}</span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item role="listitem">
        <span> <strong>Order Total: </strong> </span>
        <span class="total"> </span>
        <span class="mat-title"> {{ orderTotal | async | currency }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
