<!-- <button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button> -->
<header>
<mat-toolbar class="mat" color='accent'>
    <mat-toolbar-row>
        <span><h1>Product Mart</h1></span>

        <a mat-stroked-button routerLink="/Home"
        routerLinkActive="active-link">Home</a>

        <a mat-stroked-button routerLink="products"
        routerLinkActive="active-link">Products</a>

        <a mat-stroked-button routerLink="/Login"
        routerLinkActive="active-link">Login</a>

        <a mat-stroked-button routerLink="/register"
        routerLinkActive="active-link">Singup</a>

    </mat-toolbar-row>      
</mat-toolbar>
</header>
<h2 style="margin-left: 13cm;margin-right: 14cm;"> Welcome To Product-Mart </h2>

<router-outlet></router-outlet>