a {
  margin-left: 30px;
  // color:red;
  // background-color: lightgreen;
}
.active-link {
  background-color: lime;
}
.header {
  background-image: url("../assets/images/logo.png");
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
