<!-- <button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button> -->
<header>
<mat-toolbar class="mat">Product Mart
    <mat-toolbar-row>
        <span>Product List</span>

        <a mat-raised-button routerLink="/Home"
        routerLinkActive="active-link">Home</a>

        <a mat-raised-button routerLink="products"
        routerLinkActive="active-link">Products</a>
   
    </mat-toolbar-row>      
</mat-toolbar>
</header>
<h2> Welcome To Product-Mart </h2>

<router-outlet></router-outlet>